@model Espelhos_Thor.Models.Pedido
<div class="form-group">
    <table class="table-form">
        <tr>
            <td align="center">@Html.LabelFor(p => p.NumeroThor, "Numero Thor")</td>
            <td>@Html.TextBoxFor(p => p.NumeroThor, new { @class = "form-control text-uppercase", size = "10", @required = "required", @readonly = "readonly" })</td>
            <td align="center">@Html.LabelFor(p => p.TipoAcab, "Tipo de Acabamento")</td>
            <td>@Html.TextBoxFor(p => p.TipoAcab, new { @class = "form-control text-uppercase", size = "02", @readonly = "readonly" })</td>
            <td align="center">@Html.LabelFor(p => p.DataPedido, "Data do Pedido")</td>
            <td><input type="date" name="DataPedido" class="form-control text-uppercase" value="@ViewBag.dtped" readonly="readonly" /></td>
        </tr>
        <tr>
            <td align="center">@Html.LabelFor(p => p.Cliente)</td>
            <td>@Html.TextBoxFor(p => p.Cliente, new { @class = "form-control text-uppercase", maxlenght = "35", @readonly = "readonly" })</td>
            <td align="center">@Html.LabelFor(p => p.Vendedor, "Vendedor")</td>
            <td>@Html.TextBoxFor(p => p.Vendedor, new { @class = "form-control text-uppercase", size = "20", @required = "required", @readonly = "readonly" })</td>
            <td align="center">@Html.LabelFor(p => p.PO, "PO")</td>
            <td>@Html.TextBoxFor(p => p.PO, new { @class = "form-control text-uppercase", @readonly = "readonly" })</td>
           
            
        </tr>
        <tr>
           
            <td align="center">@Html.LabelFor(p => p.Material, "Material")</td>
            <td>@Html.TextBoxFor(p => p.Material, new { @class = "form-control text-uppercase", maxlenght = "35", @readonly = "readonly" })</td>
            <td align="center">@Html.LabelFor(p => p.Espessura, "Espessura")</td>
            <td>@Html.TextBoxFor(p => p.Espessura, new { @class = "form-control text-uppercase", @readonly = "readonly" })</td>
            <td align="center">@Html.LabelFor(p => p.Classificacao, "Classificação")</td>
            <td>@Html.TextBoxFor(p => p.Classificacao, new { @class = "form-control text-uppercase", maxlenght = "12", @readonly = "readonly" })</td>
           
            
            
        </tr>
        <tr>
            <td align="center">@Html.LabelFor(p => p.Quantidade, "Quantidade")</td>
            <td>@Html.TextBoxFor(p => p.Quantidade, new { @class = "form-control text-uppercase", @readonly = "readonly" })</td>
            <td align="center">@Html.LabelFor(p => p.Preco, "Preço")</td>
            <td>@Html.TextBoxFor(p => p.Preco, new { @class = "form-control text-uppercase", @readonly = "readonly" })</td>
            <td align="center">@Html.LabelFor(p => p.OrdemPrioridade, "Prioridade")</td>
            <td>@Html.TextBoxFor(p => p.OrdemPrioridade, new { @class = "form-control text-uppercase", size = "4", @readonly = "readonly" })</td>
            
           
            
           
        </tr>
        <tr>
            <td align="center">@Html.LabelFor(p => p.Destino, "Destino")</td>
            <td>@Html.TextBoxFor(p => p.Destino, new { @class = "form-control text-uppercase", maxlenght = "20", @readonly = "readonly" })</td>
            <td align="center">@Html.LabelFor(p => p.NumCtnEngs, "Num CTN")</td>
            <td>@Html.TextBoxFor(p => p.NumCtnEngs, new { @class = "form-control text-uppercase", size = "20", @readonly = "readonly" })</td>
            <td align="center">@Html.LabelFor(p => p.DataOvacao, "Data de Ovaçao")</td>
            <td><input type="date" name="DataEmbarque" class="form-control text-uppercase"  value="@ViewBag.dtemb" readonly="readonly" /></td>

            
            
        </tr>
        <tr>
            <td align="center">@Html.LabelFor(p => p.DtEnvCtnAprovacao, "D. Envio p/ Aprov")</td>
            <td><input type="date" name="DataEmbarque" class="form-control text-uppercase" value="@ViewBag.ctnaprov" readonly="readonly" /></td>
            <td align="center">@Html.LabelFor(p => p.Serraria, "Serraria")</td>
            <td>@Html.DropDownListFor(p => p.Serraria, new SelectList(ViewBag.empresa, "Codigo", "Nome"), "Escolha a empresa", new { @class = "form-control text-uppercase", @readonly="readonly" })</td>
            <td align="center">@Html.LabelFor(p => p.Saldo, "Saldo a Entregar",new {@class = "alert-warning" })</td>
            <td>@Html.TextBoxFor(p => p.Saldo, new { @class = "form-control text-uppercase", @readonly = "readonly" })</td>
       </tr>
        <tr>
            <td align="center">@Html.LabelFor(p => p.ObsMaterial, "Obs do Material")</td>
            <td>@Html.TextAreaFor(p => p.ObsMaterial, new { @class = "form-control text-uppercase", cols = "50", rows = "5", @readonly = "readonly" })</td>
            <td align="center">@Html.LabelFor(p => p.DataPrevEmb, "Dt.Prev.Embarque")</td>
            <td><input type="date" name="DataPrevEmb" class="form-control" value="@ViewBag.dtprevemb" /></td>
        </tr>
    </table>
</div>