@model Espelhos_Thor.Models.Pedido
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Numero</th>
            <th>Data</th>
            <th>Cliente</th>
            <th>PO</th>
            <th>Material</th>
            <th>Acab</th>
            <th>Esp</th>
            <th>Quant</th>
            <th>Preço $</th>
            <th>Ovação</th>
            <th>Vendedor</th>
        </tr>
    </thead>
    <tbody>
        @{
            var nIndex = 0;
            foreach (var ped in ViewBag.embarcado)

            {

                if (ped.DataPedido != " ")
                {
                    ped.DataPedido = ped.DataPedido.Substring(6, 2)
                                   + "/"
                                   + ped.DataPedido.Substring(4, 2)
                                   + "/"
                                   + ped.DataPedido.Substring(0, 4);
                }

                if (ped.DataOvacao != " ")
                {
                    ped.DataOvacao = ped.DataOvacao.Substring(6, 2)
                                   + "/"
                                   + ped.DataOvacao.Substring(4, 2)
                                   + "/"
                                   + ped.DataOvacao.Substring(0, 4);
                }

               <tr onclick='document.forms["frmBrw"].elements["ID"][@nIndex].checked=true;pid=document.frmBrw.ID.value;'>
                    <td></td>
                    <td>
                        @if (nIndex == 0)
                        {
                            <input type='radio' name='ID' value='@ped.Id' checked="checked" />
                        }
                        else
                        {
                            <input type='radio' name='ID' value='@ped.Id' />
                        }
                    </td>
                   <td>@ped.NumeroThor</td>
                   <td>@ped.DataPedido</td>
                   <td>@ped.Cliente</td>
                   <td>@ped.PO</td>
                   <td>@ped.Material</td>
                   <td>@ped.TipoAcab</td>
                   <td>@ped.Espessura</td>
                   <td>@ped.Quantidade</td>
                   <td>@ped.Preco</td>
                   <td>@ped.DataOvacao</td>
                   <td>@ped.Vendedor</td>

            </tr>
                            nIndex++;
                        }
        }

    </tbody>
</table>
