@model Espelhos_Thor.Models.Usuario
@using (Html.BeginForm("AlteraSenha", "Usuario", FormMethod.Post, new { @class = "form-inline" }))
{   @Html.HiddenFor(u => u.Id);
    @Html.HiddenFor(u => u.CaminhoFoto)
    @Html.HiddenFor(u => u.Foto);
    @Html.HiddenFor(u => u.Adm);
    @Html.HiddenFor(u => u.Edita);
    @Html.HiddenFor(u => u.Pcp);
    @Html.HiddenFor(u => u.CodVendedor);
    <div class="panel panel-primary">
        <div class="panel-heading"><h4>Cadastro de Usuário</h4></div>
        <div class="panel-body">
            <div class="form-group">
                <table>
                    <tr>
                        <td>
                            <div class="img-thumbnail">
                                @{
                                    if (ViewBag.usuario.CaminhoFoto == null)
                                    {
                                        <img src="~/Content/img/perfil.jpg" height="200" width="200" class="img-rounded profile_img">
                                    }
                                    else
                                    {
                                        <img src="~/Uploads/Usuarios/@ViewBag.usuario.CaminhoFoto" height="200" width="200" class="img-rounded profile_img">
                                    }
                                }

                            </div>
                        </td>
                        <td>
                            <table class="table-form">

                                <tr>
                                    <td>@Html.LabelFor(u => u.Nome, "Nome:")</td>
                                    <td>@Html.TextBoxFor(u => u.Nome, new { @class = "form-control", size = "50", @readonly = "readonly" })</td>
                                    <td>@Html.LabelFor(u => u.Login, "Login:")</td>
                                    <td>@Html.TextBoxFor(u => u.Login, new { @class = "form-control", @readonly = "readonly" })</td>
                                </tr>
                                <tr>
                                    <td>@Html.LabelFor(u => u.Email, "Email:")</td>
                                    <td>@Html.TextBoxFor(u => u.Email, new { @class = "form-control", size = "50", @readonly = "readonly" })</td>
                                    <td>@Html.LabelFor(u => u.Password, "Nova Senha:")</td>
                                    <td><input type="text" class="form-control" name="Nsenha" /></td>
                                </tr>
                                <tr></tr>
                            </table>
                        </td>
                    </tr>

                </table>
            </div>
        </div>

        <div class="panel-footer info">
            <input type="submit" class="btn btn-info" value="Confirmar" />
            @Html.ActionLink("Sair", "Index", "Usuario", new { @class = "btn btn-danger" })
        </div>
    </div>
                                    }